<div>
  <div class="row hide" id="showVenuePage">
    <div class="large-12"></div>
  </div>

  <div class="row" id="searchPage">
    <div class="large-12">
      <form action="/search.json" method="post" data-remote="true" id="search">
        <input type="text" id="search_query" name="search[query]" />
        <input type="hidden" id="search_ll" name="search[ll]" />
        <input type="submit" value="Search" />
      </form>
    </div>

    <div class="large-12" id="searchResults">
      <div class="row">
      </div>
    </div>
  </div>
</div>